.DisplayIcons{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
}
.CompleteIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.iconBox{
    border: 3px solid #141414;
    border-radius: 50%;
    background-color: #6FC2E6;
    height: 10rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    font-size: 3rem;
}